li {
  display: flex;
  align-items: center;
}
span {
  padding: 15px;
}
ul {
  width: 450px;
  padding-inline-start: 0px;
}
button {
  margin-left: auto;
  margin-right: 10px;
  border-radius: 5px;
}
button:hover,
button:focus {
  outline: 0px;
  border-radius: 5px;
}
